body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    font-size: 24px;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

/*
img {
    width: 200px;
    height: auto;
    margin-top: 10px;
    border-radius: 10px;
}
*/
footer {
    background-color: #333;
    color: white;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

img {
    width: 50px; /* Set width */
    height: 50px; /* Set height */
    margin-top: 10px;
    border-radius: 10px;
    display: block; /* Ensure the image is a block element */
    margin-left: auto;
    margin-right: auto; /* Center the image */
}

